body {
    background-color: lightgray;
}

h1,
h2,
h3 {
    color: black;
}

img {
    width: 400px;
    height: 300px;
    display: block;
    margin: auto;
}
.tarjetas {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.tarjeta {
    background: white;
    padding: 20px;
}
.contenedor-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}
@media (min-width: 768px) {

    .tarjetas {
        flex-direction: row;
    }

}
@media (min-width: 1024px) {

    .contenedor-grid {
        grid-template-columns: 3fr 1fr;
    }

}
.tarjeta {
    background: white;
    padding: 20px;
    border: 1px solid gray;
    border-radius: 10px;
}
.tarjeta h3 {
    margin-top: 0;
}